@import "tailwindcss";

/* biome-ignore lint/suspicious/noUnknownAtRules: css */
@theme {
  --font-sans:
    "Source Sans 3", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji";
  --font-serif: "Shrikhand", sans-serif;

  --color-green-500: #119118;
  --color-yellow-500: #d4af37;
}

body {
  background: #fafafa;
  width: 100%;
  height: 100%;
  margin: 0;
  color: #003366;
  overflow-x: hidden;
}
